<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Meet Up</title>
</head>
<body>
	<h2 th:text="#{app.welcome}">Your Reservation List</h2>
	<div th:unless="${#lists.isEmpty(reservations)}">
		<dl th:each="reservation : ${reservations}">
			<dt class="bookHeadline">
				<span th:text="${reservation.name}">Name</span> (age: <span
					th:text="${reservation.age}"></span>) from <span
					th:text="${reservation.email}">Author</span>
					<span>
						<a href="#"
						   th:href="@{/{email}(email=${reservation.email})}">borrar</a>
					</span>
			</dt>
		</dl>
	</div>
	
	<a href="/new">Añadir un usuario</a>
</body>
</html>